body {
    background: url(/img/background/bg-main.gif);
    color: #000;
    margin: 0px;
    padding: 0px;
    direction: ltr;
    font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.body-wrap {
    margin: 20px auto;
    width: 800px;
}

.logo {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.logo .description {
    margin-top: 5px;
    font: 14px Tahoma, sans-serif;
    font-weight: normal;
}

.content-wrap {
    display:block;
    padding:7px;
    margin:0;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px;
    background-color: rgba(225, 225, 225, 0.1);
}

.content {
    display:block;
    padding: 5px;
    margin:0;
    border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px;
    background-color: #e9ecf0;
}

.content > .body {
    font-size: 13px;
    display: block;
    background-color: white;
    border: #D8D8D8 solid 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
}

.content .body p {
    text-align: justify;
}

.content > .body > .header {
    background-color: #e9ecf0;
    padding: 7px 10px;
    margin: 10px -10px;
    font-weight: bold;
}

.copyright {
    padding-top: 0px;
    text-align: center;
}

.slider-box {
    display: block;
    height: 100px;
}

.slider-box > .slide {
    display: none;
    clip: auto;
}

.slider-box > .slide > .text {
    font-weight: bold;
    font-size: 24px;
    position: relative;
    left: 30px;
    top: -10px;
    opacity: 0;
}

.slider-box > .slide > .helper-text {
    font-weight: normal;
    font-size: 14px;
    position: relative;
    left: 120px;
    top: 20px;
    opacity: 0;
}

.slider-box > .slide > .image {
    display: inline-block;
    position: relative;
    top: -50px;
    left: 700px;
    opacity: 0;
}

.price-box {
    background: #e9ecf0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 8px;
}

.price-box > .body {
    background: #fff;
    height: 278px;
}

.price-box > .body p {
    padding: 0px 5px;
}

.price-box:hover {
    background: #eaf0e9;
}

.price-box > .body .wrap-order {
    padding: 10px;
    text-align: center;
}

.price-box > .body > .header {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
}

.price-box > .body > .image {
    text-align: center;
}

.dropdown-menu {
  border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px;
  border: 3px solid #e9ecf0;
  font-size: 11px;
  color: #333333;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: #e9ecf0;
  color: #000000;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

ul {
  list-style: square;
}