<div class="row-fluid">
  <div class="span12">
    <div class="content">
      <div class="body">
        <h3>Контакты</h3>
        <div class="header">Способы связи</div>
        <div class="media">
          <img class="pull-left media-object" src="/img/phone.png">
          <div class="media-body" style="margin-top: 8px;">
              <h5>+7 (904) 465-05-95</h5>
          </div>
        </div>
        <hr>
        <div class="media">
          <img class="pull-left media-object" src="/img/ICQ.png">
          <div class="media-body" style="margin-top: 6px;">
            <h5>596 171 588</h5>
          </div>
        </div>
        <hr>
        <div class="media">
          <img class="pull-left media-object" src="/img/email.png">
          <div class="media-body" style="margin-top: 4px;">
            <h5>master@kaihost.ru</h5>
          </div>
        </div>
        <hr>
        <div class="media">
          <img class="pull-left media-object" src="/img/skype.png">
          <div class="media-body" style="margin-top: 4px;">
            <h5>kaiwex</h5>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<style>.media {margin-left: 280px;}</style>