<div class="row-fluid">
    <div class="span12">
        <div class="content">
            <div class="body">
                <h3>Разработка</h3>
                <p>Используя
                    свежие дизайнерские идеи и новейшие технологии
                    мы сделаем Ваш сайт эффективным средством в продвижении товаров и услуг.</p>
                <div class="header">Сайт под ключ</div>
                <div  class="media">
                    <img class="pull-left media-object" src="/img/key.png">
                    <div class="media-body">
                        <p>Это полный комплекс услуг по созданию сайта от А до Я. Включает в себя разработку уникального дизайна
                        и функционала в соответствии вашим пожеланиям, наполнение сайта информацией, регистрация и размещение готового сайта
                        на выбранный домен и хостинг.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="header">Установка и настройка CMS</div>
                <div class="media">
                    <img class="pull-left media-object" src="/img/installer.png">
                    <div class="media-body">
                        <p>CMS (Content Management System) - это система управления веб-содержимым, которая позволяет в короткие сроки
                            развернуть свою страничку в интернете. Дает, Вам, возможность, менять информацию на сайте не прибегаю к услугам специалиста.
                            Мы поможем, Вам, установить и настроить любую CMS.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="header">Типы сайтов</div>
                <div class="alert alert-info">
                  <div class="media">
                    <img class="pull-left media-object" src="/img/info.png">
                    <div class="media-body" style="margin-top: 6px;">
                      <p>Ниже представлена информация о типах сайтах и их примерная стоимость.</p>
                    </div>
                  </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4>Визитка</h4>
                        <p>Обычно состоит из нескольких страниц и имеет уникальный, но
                            простой и функциональный дизайн. Идеально подходит для компаний, которые хотят разместить
                            информацию о себе и своих услугах в Интернете.</p>
                        <p><i>Цена: от 2 000р.</i></p>
                    </div>
                </div>
                <hr>
                <div class="media">
                    <div class="media-body">
                        <h4>Презинтационный</h4>
                        <p>По своей информационной насыщенности практически ничем
                            не отличаются от сайта-визитки, но в них гораздо больше
                            внимания уделяется дизайну:
                            <ul>
                                <li>красивая презентация товара или услуги;</li>
                                <li>использование качественных фотоматериалов;</li>
                                <li>оригинальных графических решений в фирменном стиле
                            компании.</li>
                            </ul>
                            Небольшие, но привлекательные сайты рекламного
                            характера.
                            Они предназначены для демонстрации какой-либо новой
                            услуги, нового товара или нового направления в бизнесе.
                            Также презентационные сайты служат для создания имиджа
                            компании.</p>
                        <p><i>Цена: от 5 000р.</i></p>
                    </div>
                </div>
                <hr>
                <div class="media">
                    <div class="media-body">
                        <h4>Блог</h4>
                        <p>Это сайт, представляющий собой интернет-дневник, или
                            журнал, который ведется наподобие новостной ленты, при
                            этом на каждую тему блога посетители могут оставлять свои
                            комментарии-сообщения, доступные с главной страницы
                            соответствующей темы.</p><p>Блог часто используется для общения людей объединенных
                            какими-либо общими интересами.</p>
                        <p><i>Цена: от 7 000р.</i></p>
                    </div>
                </div>
                <hr>
                <div class="media">
                    <div class="media-body">
                        <h4>Корпоративный</h4>
                        <p>Сложный по структуре и функциональным возможностям сайт
                            с большим количеством информации. Такой сайт создается в
                            том случае, если компания предполагает активно использовать
                            интернет для развития своего бизнеса.</p><p>Корпоротивный-сайт позитивно влияет на репутацию и имидж
                        компании. Дизайн должен соответствовать фирменному стилю
                        компании. Чаще всего, включает «администраторскую часть»
                        для создания и изменения контента, позволяющую менеджеру
                        или секретарю компании добавлять или менять новости,
                        информационные статьи, справочную и прочую информацию
                        на сайте.</p>
                        <p><i>Цена: от 8 000р.</i></p>
                    </div>
                </div>
                <hr>
                <div class="media">
                    <div class="media-body">
                        <h4>Интернет-магазин</h4>
                        <p>В интернет-магазине любой желающий сможет ознакомиться
                            с ассортиментом предлагаемой продукции, быстро найти
                            необходимый товар и получить полную и достоверную
                            информацию о товаре, сравнить интересующий его товар
                            с другими, получить консультации торговых специалистов
                            компании, и в итоге оформить заказ на сайте, указав
                            предпочтительный способ и время доставки, а так же форму
                            оплаты.</p>
                        <p><i>Цена: от 15 000р.</i></p>
                    </div>
                </div>
                <hr>
                <div class="media">
                    <div class="media-body">
                        <h4>Информационный портал</h4>
                        <p>Самый насыщенный по структуре и набору функций из сайтов.
                            Информационный портал предназначен для публикации и
                            управления большими объемами информации в Интернете.
                            Разработка такого проекта может заинтересовать компании,
                            которые предоставляют услуги, связанные со значительными
                            информационными потоками (разнообразные СМИ, контент-
                            проекты и т.д.).

                            Информационный портал включает в себя уникальную
                            дизайн-концепцию, большой каталог продукции, обширную
                            информационную систему, поисковую систему. Возможна
                            система аккаунтов и разграничения прав доступа. Эта
                            категория сайтов ориентирована на большие он-лайн
                            проекты, которые переносят значительную часть бизнеса
                            компании в интернет. Разработка такого проекта требует
                            сложного программного решения и модульности структуры,
                            качественного дизайна, удобной навигации. Продуманная
                            система подачи информации обеспечивает возможность
                            безболезненного и оперативного внесения коррективов и
                            большого количества новой информации на сайт.</p>
                        <p><i>Цена: от 30 000р.</i></p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>