<div class="row-fluid">
  <div class="span12">
    <div class="content">
      <div class="body">
        <h3>Хостинг</h3>
        <p>Услуга по размещению Вашего сайта на нашем хостинге открыта в режиме тестирования.</p>
        <div class="header">Пробный</div>
        <div class="media">
          <div class="media-body">
            <p>
              Вы можете заказать бесплатную услугу для проверки работоспособности Вашего сайта на нашем сервере.
              <p>По предоставлению данной услуги Ваш сайт будет доступен по адресу <strong><em>your_login</em>.kaihost.ru</strong></p>
            </p>
          </div>
        </div>
        <hr>
        <p>Подробная информация еще не готова к публикации...</p>
        <p>По всем вопросам обращайтесь по телефону +7 (904) 465-05-95.</p>
      </div>
    </div>
  </div>
</div>