<hr>
<div id="slider" class="slider-box">
    <div id="slide_1" class="slide">
        <div class="text">Разработка сайта</div>
        <div class="helper-text"><i>- Индивидуальный подход к каждому проекту</i></div>
        <div class="image"><img src="/img/advanced.png"></div>
    </div>
    <div id="slide_2" class="slide">
        <div class="text">Обслуживание сайта</div>
        <div class="helper-text"><i>- Ваш сайт в надежных руках</i></div>
        <div class="image"><img src="/img/services.png"></div>
    </div>
    <div id="slide_3" class="slide">
        <div class="text">Фирменный дизайн</div>
        <div class="helper-text"><i>- Создание индивидуального дизайна для Вашего сайта</i></div>
        <div class="image"><img src="/img/applix.png"></div>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span12">
        <div class="content">
            <div class="body">
                <p><strong><span style="color: #0088CC;">kai</span>host</strong> - молодая компания по разработке, обслуживанию и продвижению сайтов для малого и среднего бизнеса,
                    которая качественно и в короткие сроки разработает Ваш проект, используя современные WEB - технологии.</p>
                <br>
                <div class="row-fluid">
                    <div class="span4 price-box">
                        <div class="body">
                            <div class="header">Разработка</div>
                            <div class="image"><img src="/img/cervisia.png"></div>
                            <div style="text-align: center;">Быстро и качественно создадим сайт под Ваши нужды по доступной цене.</div>
                            <div class="wrap-order">
                                <a href="/develop" class="btn btn-primary">Подробней</a>
                            </div>
                        </div>
                    </div>
                    <div class="span4 price-box">
                        <div class="body">
                            <div class="header">Обслуживание</div>
                            <div class="image"><img src="/img/configure_toolbars.png"></div>
                            <div style="text-align: center;">Круглосуточная поддержка Вашего сайта в актуальном состоянии.</div>
                            <div class="wrap-order">
                                <a href="/services" class="btn btn-primary">Подробней</a>
                            </div>
                        </div>
                    </div>
                    <div class="span4 price-box">
                        <div class="body">
                            <div class="header">Хостинг</div>
                            <div class="image"><img src="/img/server.png"></div>
                            <div style="text-align: center;">Установка и настройка Вашего сайта на нашем сервере.</div>
                            <div class="wrap-order">
                                <a href="/hosting" class="btn btn-primary">Подробней</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
kjs_slider.slider = $('#slider');
kjs_slider.execute();
</script>