<div class="row-fluid">
  <div class="span12">
    <div class="content">
      <div class="body">
        <h3>Обслуживание</h3>
        <p>Круглосуточная поддержка Вашего сайта в акутальном состоянии.</p>
        <div class="header">Наполнение</div>
        <div  class="media">
          <img class="pull-left media-object" src="/img/dlgedit.png">
          <div class="media-body">
            <p>
              Часто обновляемая и качественная информация делает Ваш сайт актуальным и привлекательным для посетителей.
              Обновление Новостей и Фотографий, если у Вас <strong id="helper-popover-im">Интернет-магазин</strong>, то добавление или удаление товаров - делает Ваш сайт
              живым, привлекает новых Клиентов и внушает к Вам доверие <img src="/img/emoticon.png" alt=":)">
            </p>
          </div>
        </div>
        <hr>
        <div class="header">Консультация</div>
        <div  class="media">
          <img class="pull-left media-object" src="/img/voicecall.png">
          <div class="media-body">
            <p>
              На все интерисующие Вас вопросы по разработке,
              модернизации, внедрении новых функций в Ваш сайт, Вы, бесплатно можете получить ответы у нас.
            </p>
          </div>
        </div>
        <hr>
        <div class="header">Доработка Вашего сайта</div>
        <div class="media">
          <img class="pull-left media-object" src="/img/revision.png">
          <div class="media-body">
            <p>Новые веб-технологии позволяют создавать впечатляющие веб-интерфейсы
              для взаимодействия с посетителем Вашего сайта. Если у Вас уже имеется сайт
              но он требует доработки или внедрение новых функций,
              усовершенствования дизайна или модернизации взаимодействия
              элементов сайта с пользователем, то мы готовы Вам в этом помочь.
            </p>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<script>
  $('#helper-popover-im').popover({
    'trigger': 'hover',
    'title': 'Интернет-магазин',
    'content': 'В интернет-магазине любой желающий сможет ознакомиться\
    с ассортиментом предлагаемой продукции, быстро найти\
    необходимый товар и получить полную и достоверную\
      информацию о товаре, сравнить интересующий его товар\
    с другими, получить консультации торговых специалистов\
    компании, и в итоге оформить заказ на сайте, указав\
      предпочтительный способ и время доставки, а так же форму\
    оплаты.'
  });
</script>