<div class="row-fluid">
  <div class="span12">
    <div class="content">
      <div class="body">
        <div class="media">
          <img class="pull-left media-object" src="/img/error.png">
          <div class="media-body" style="margin-top: 8px;">
            <p>Во время обработки Вашего запроса произошли какие-то ошибки.</p>
            <p>Вы, указали не существующую страницу или был сбой в работе сервера.</p>
            <p>Пожалуйста, повторите запрос или перейдите на <a href="/">главную страницу</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>